/* Generic */

html, body {
    background: #f3f4f7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, p {
    margin-top: 2px;
    margin-bottom: 25px;
}

h1, h2, h3, h4, h5, b, strong {
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.action {
	display: inline-block;
	padding: 10px 15px 10px 15px;
	background: #eeeeee;
	border-radius: 3px;
}
a.action:hover {
	background: #e7e7e7;
	text-decoration: none;
}

a#back-to-top {
	width: 35px;
    height: 35px;
    bottom: 10px;
    right: 15px;
	display: block;
    position: fixed;
    z-index: 999;
    color: #eee;
    background-color: #595959;
    border-radius: 50px;
	opacity: .3;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}

a#back-to-top:hover {
	opacity: .5;
	text-decoration: none;
}

code {
    color: #46555e;
    font-family: "Roboto Mono", Courier, monospace;
    font-size: 11pt;
}

pre.highlight {
    padding: 10px;
    background: #f2f2f3;
    border-radius: 3px;
    overflow-x: auto;
}

blockquote {
    border-left: 4px solid #889;
    margin-left: 5px;
    padding-left: 15px;
    font-style: italic;
}

hr {
    margin: 20px 5px 25px 5px;
    border: none;
    height: 1px;
    background-color: #b0b3b2;
}

textarea, input, select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 7px;
    margin: 3px 0 5px 0;
    background: #f9f9fa;
    border-radius: 3px;
    border: 1px solid #b0b3b2; 
    font-size: 12pt;
    resize: vertical;
}

label {
    display: block;
    width: 100%;
    padding: 0 7px 0 7px;
    font-size: 11pt;
    color: #606362;
}

textarea {
    height: 140px;
}

button {
    padding: 7px 10px 7px 10px;
    margin: 2px 0 2px 0;
    background: #79797a;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 11pt;
}

button:hover {
    background: #89898a;
    cursor: pointer;
}

/* Header */

#header {
    padding-top: 5px;
    background-color: #d7dbde;
}

#header .nav {
    display: flex;
    align-items: center;
    text-align: left;
    color: #333;
}

#header .subnav {
    background: #f1f2f4; 
    border-width: 1px 1px 0 1px;
}

#header .nav .title {
    display: inline-block;
    padding: 5px 0 5px 0;
    margin-right: 5px;
    font-size: 14pt;
    font-weight: 500;
    text-decoration: none;
    color: #333;
}

#header .nav .title img {
    width: 30px; 
    height: 30px; 
    margin-right: 5px;
    vertical-align: middle;

}

#header .nav .title small {
    font-size: 10pt;
}

#header .nav .menu,
#header .subnav .submenu {
    height: 100%;
    padding: 10px 0 10px 0;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 11pt;
    line-height: 30px;
}

#header .subnav .submenu {
    padding: 5px 0 5px 0;
    font-size: 10pt;
}

#header .nav .menu a,
#header .subnav .submenu a,
#header .subnav .submenu span {
    padding: 4px 5px 4px 5px;
    border-radius: 3px;
    vertical-align: middle;
    text-decoration: none;
    opacity: 0.5;
    font-weight: 500;
    color: #000;
}

#header .nav .menu a:hover {
    opacity: 1.0;
    background: #e1e2e7;
    border-bottom: 1px solid #98a2a8;
}

#header .subnav .submenu a:hover {
    opacity: 1.0;
}

#header .nav .menu .icon img {
    width: 18.75px; 
    height: 18.75px;
    margin-bottom: -3px;
    filter: invert(1);
}

#header .nav .menu a.icon:hover {
    border-bottom: 0;
}

#header .subnav .submenu a.root {
    opacity: .9;
    border-radius: 0;
    padding-right: 15px;
}

#header .subnav .submenu a.root:hover {
    opacity: 1;
}

#header .subnav .submenu img {
    max-height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    filter: invert(1);
}

/* Footer */

#footer {
    margin-top: 10px;
    margin-bottom: 50px;
	height: 50px;
	line-height: 50px;
	display: block;
    opacity: .3;
	text-align: center;
    font-size: 10pt;
    color: #000;
}

#footer img {
    max-height: 14px;
    vertical-align: middle;
}

/* Content */

#content {
    max-width: 1000px;
    font-size: 12pt;
    color: #393b3c;
    border-bottom: 1px solid #f0f3f2;
    background: #f7f8fb;
}

#content a {
    color: #73777a;
}

/* Sections */

.section {
	position: relative;
}

.section-content img {
    max-width: 100%;
    border-radius: 3px;
}

.fixed-width {
    margin: 0 auto 0 auto;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}

/* Sponsors */

.sponsors-content {
    margin-left: 0;
	margin-right: 0;
	padding: 0px 5px 6px 5px;
    border-radius: 5px;
	border: 1px solid #dedfe7;
	vertical-align: middle;
    text-align: center;
}

.sponsors-content .title {
	padding: 1px 5px 1px 5px;
    border-radius: 10px;
    border: 1px solid #d5d6de;
    color: #b5b5b5;
    font-size: 9pt;
    text-transform: uppercase;
}

.sponsors-content .item {
    display: inline-block;
    margin: 10px 15px 10px 15px;
}

.sponsors-content .item img {
    display: inline-block;
    vertical-align: middle;
}

a.sponsor-item {
    opacity: 1.0;
}

a.sponsor-item:hover {
    opacity: 0.7;
}

a.sponsor-item img {
    height: 45px;
}

/* Events */

.event-anchor {
    display: block; 
    padding-top: 10px;
}

.event-announcement {
    display: block;
    padding: 25px 10px 22px 10px;
    font-size: 13pt;
    text-transform: uppercase;
    text-align: center; 
}

.event-content {
    position: relative;
    display: block;
    border-radius: 5px;
    border: 1px solid #dedfe7;
}

.event-content hr {
    margin: 25px 0 15px 0;
    background: #e7e7ef;
}

.sidebar-container .left, .sidebar-container .right {
    display: inline-block; 
    vertical-align: top;
    box-sizing: border-box;
}

.event-content ul.links {
    margin: 15px 0 5px 0;
    padding: 0;
}

.event-content ul.links li {
    display: inline-block;
}

.event-content ul.links li a {
    background: #eee;
}

.event-content ul.links li a,
.event-content ul.links li span,
.more-link {
    margin: 0 2px 4px 0;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    border-bottom: 1px solid #bbb;
    text-decoration: none;
}

.event-content ul.links li a:hover,
.more-link:hover {
    opacity: 0.7;
}

.event-content ul.links li span {
    border: 1px solid #68808e;
}

.event-content ul.links li span.difficulty {
    font-weight: 200;
}

.event-content ul.links li span.difficulty-beginner {
    border-color: #459b75;
    color: #459b75;
}

.event-content ul.links li span.difficulty-intermediate {
    border-color: #c9880a;
    color: #c9880a;
}

.event-content ul.links li span.difficulty-advanced {
    border-color: #c90a0a;
    color: #c90a0a;
}

.event-content .speaker-title {
    display: block;
    color: #9695ae;
    font-size: 9pt;
    text-transform: uppercase;
}

.event-content .speaker-name {
    display: block;
    font-size: 14pt;
    padding: 2px 4px 2px 0;
}

.event-content .speaker-image {
    display: block;
    width: 72px;
    height: 72px;
    margin-top: 10px;
    border-radius: 50px;
    border: 1px solid #e7e7ef;
}

.event-content .speaker-image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.event-content p, 
.event-content h1,
.event-content h2,
.event-content h3,
.event-content h4 {
    margin: 0;
    padding: 2px 0 8px 0;
}

.event-content .upcoming-flag {
    display: none;
	margin: 0 2px 0 2px;
	padding: 1px 2px 1px 2px;
	border: 1px solid #f48700;
	border-radius: 4px;
    color: #f48700;
    font-size: 9pt;
    font-weight: 200;
    text-transform: uppercase;
}

.event-content ul.links li.register-flag {
    display: none;
}

.event-content-upcoming {
    border-color: #b6c5ce;
    background: #f3f4f7;
}

.event-content-upcoming .upcoming-flag {
    display: inline-block;
}

.event-content-upcoming ul.links li.register-flag {
    display: inline-block;
}

.promo hr {
    margin: 12px 0;
}

.promo .promo-item {
    margin-top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

.promo .promo-item img {
    max-height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    filter: invert(1);
}

.more-link {
    display: block;
    margin: 10px auto 5px auto; 
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    text-align: center;
    text-transform: uppercase;
}

.more-link:hover {
    text-decoration: none;
}

.more-limiter {
    display: block; 
    font-weight: 200; 
    padding: 20px 25px 20px 25px; 
    text-transform: uppercase; 
    text-align: center; 
    color: #c7c8cf;
}

/* Generic media */

img.hero {
    border: 1px solid #ddd;
}

/* Desktop-only */

@media only screen and (min-width: 800px) {
    .fixed-width {
        max-width: 1000px!important;
    }
    
    #header .nav {
        padding: 0 60px 0 60px;
    }

    #header .subnav {
        border-radius: 5px 5px 0 0; 
    }
    
    #header .nav .title {
        display: inline;
    }

    #header .nav .title-text {
        display: inline;
    }

    #header .nav .menu {
        margin-left: 15px;
    }

    #header .nav .menu a,
    #header .subnav .submenu a,
    #header .subnav .submenu span {
        margin-right: 7px;
    }
    
    #content {
        padding: 40px 60px 50px 60px;
        border-radius: 0 0 5px 5px;
		border-left: 1px solid #f0f3f2;
		border-right: 1px solid #f0f3f2;
    }

    .sidebar-container .left, .sidebar-container .right {
        display: inline-block; 
    }

    .sidebar-container .left-30 {
        width: 30%;
        margin-right: 3%;
    }

    .sidebar-container .left-20 {
        width: 20%;
        margin-right: 3%;
    }

    .sidebar-container .right-70 {
        width: 67%; 
    }

    .sidebar-container .right-80 {
        width: 77%; 
    }

    .event-content {
        padding: 20px 20px;
    }

    .promo {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/* Phone-only */

@media only screen and (min-width: 250px) and (max-width: 800px) {
    .fixed-width {
        max-width: 1000px!important;
    }

    #header .nav {
        padding: 0 15px 0 15px;
    }

    #header .subnav {
        border-radius: 0; 
    }
    
    #header .nav .title {
        display: block;
    }
    
    #header .nav .title-text {
        display: none;
    }

    #header .nav .menu {
        margin-left: 3px;
    }

    #header .nav .menu a,
    #header .subnav .submenu a,
    #header .subnav .submenu span {
        margin-right: 3px;
    }

    #content {
        padding: 15px 15px 25px 15px;
        border-radius: 0px;
    }

    .sidebar-container .left-30, .sidebar-container .left-20,
    .sidebar-container .right-70, .sidebar-container .right-80 {
        display: block;
        width: 100%;
    }
    
    .sidebar-container .left {
        margin-bottom: 8px;
    }
	
	.right p {
		text-align: justify;
	    text-justify: inter-word;
    }
    
    .event-content {
        padding: 15px 10px;
    }

    .promo {
        margin-left: -10px;
        margin-right: -10px;
    }
}

/* Size-specific media */

@media only screen and (min-width: 450px) {
    img.hero {
        width: 400px;
        height: auto;
    }
}

/* Phone-only */
@media only screen and (min-width: 250px) and (max-width: 450px) {
    img.hero {
        width: 100%;
        height: auto;
    }
}
