---
layout: default
title: About
description: "SYDspace grew out of the Sydney Kotlin User Group, which was officially founded in May 2017 by a group of volunteers passionate about Kotlin."

team:
- id: mgouline
  name: Mike Gouline
  title: Founder / Event Organiser
  description: >
    Once a Java developer of different sorts, now working on things related to backend and 
    data, which he's been using for over 5 years.
    <br/><br/>
    Founder of Sydney Kotlin User Group and Serversiders, co-organiser of Sydney JVM Community.
    <br/><br/>
    Now also the founder of the SYDspace community.
  image: profiles/mgouline.jpg
  url: https://twitter.com/mgouline

- id: epragt
  name: Erik Pragt
  title: Event Organiser
  description: >
    Founder of Sydney JVM Community, co-organiser of Sydney Kotlin User Group.
  image: profiles/epragt.jpg
  url: https://twitter.com/epragt

- id: jmartinez
  name: Jaime Martinez
  title: Event Organiser
  description: >
    Co-organiser of Serversiders.
  image: profiles/jmartinez.jpeg
  url: https://www.linkedin.com/in/jaime-m88/
---

<div class="section clear">
    <div class="section-content right">
        <h1>About</h1>
        <p>
            SYDspace grew out of the Sydney Kotlin User Group, which was officially founded in May 2017 by
            a group of volunteers passionate about Kotlin. The first event was actually even earlier than that,
            in August 2016, organised as a special one-off night together with the 
            <a href="https://www.meetup.com/Android-Australia-User-Group-Sydney/">Android Australia User Group</a>.
            Ever since it has been a regular event supported by JetBrains and local companies opening their doors 
            as venues.
        </p>
        <p>
            When the Kotlin meetups started gaining some traction, Serversiders was started as a sister group focused
            on server-side development in other languages, not just Kotlin. Intended as an opportunity for people to 
            discuss their stacks in Java, Go, Rust, Scala and others, it started running on the off-months when Kotlin 
            meetups were on break.
        </p>
        <p>
            Eventually, SYDspace was founded in October 2019 as a non-profit group to unify the existing meetups 
            and provide a way for the local developer community to host their open source projects once they're ready
            to be maintained by the wider audience.
        </p>
    </div>

    <a name="team" class="event-anchor"></a>
    <div class="event-content">
        <h2>Team <a href="#team" class="section-anchor">#</a></h2>
        <br/>
        {% for person in page.team %}
        {% if forloop.index > 1 %}<hr/>{% endif %}
        <div class="sidebar-container" style="margin-bottom:10px;">
            <div class="left left-20">
                {% if person.url %}<a href="{{ person.url }}" target="_blank">{% endif %}
                <h3 class="speaker-name">{{ person.name }}</h3>
                {% if person.url %}</a>{% endif %}
                <div class="speaker-title flag-text">{{ person.title }}</div>
                {% if person.image %}
                <div class="speaker-image">
                    <img src="{{ site.rooturl }}/assets/{{ person.image }}" title="{{ person.name }}" />
                </div>
                {% endif %}
            </div><div class="right right-80">
                {% if person.description %}
                <p>{{ person.description }}</p>
                {% endif %}
                {% if person.links %}
                <ul class="links">
                    {% for link in person.links %}
                    <li><a href="{{ link.url }}" target="_blank" class="flag-text">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <br/>

    <div class="section-content right">
        <h2>Thanks!</h2>
        <p>
            Apart from the organisers, it wouldn't all be possible without many others helping out setting up the
            venues, finding speakers, filming events and posting videos. Thank you to all of these wonderful people!
        </p>
    </div>
</div>
    