<div id="header">
    <div id="nav" class="fixed-width" style="padding-bottom:5px">
        <a href="{{ site.rooturl }}/" id="title" title="Home">
            <img src="{{ site.rooturl }}/assets/images/logo_hero.png"/>
            <span id="title-text">{{ site.title }}</span>
        </a>
        <span id="menu">
            {% for section in site.data.nav.sections %}
            <a {% if section.url %} href="{{ section.url }}" target="_blank" {% else %} href="{{ site.rooturl }}{{ section.path }}" {% endif %}>{{ section.title }}</a> 
            {% endfor %}
            {% for service in site.data.nav.services %}
            <a href="{{ service.url }}" title="{{ service.title }}" target="_blank" class="icon">
                <img src="{{ site.rooturl }}/assets/images/nav_{{ service.type }}.png"/>
            </a>
            {% endfor %}
        </span>
    </div>
    <div id="nav" class="fixed-width" style="background-color:#43474a; border-radius: 5px 5px 0 0; border:#333 solid 1px; border-width:1px 1px 0 1px;">
        <span id="submenu">
        {% if site.data.nav.submenus[page.submenu] %}
        {% assign submenu = page.submenu %}
        {% else %}
        {% assign submenu = 'default' %}
        {% endif %}
        
        {% if site.data.nav.submenus[submenu].title %}
            <a {% if site.data.nav.submenus[submenu].path %} href="{{ site.rooturl }}{{ site.data.nav.submenus[submenu].path }}" {% endif %} class="title">
                {% if site.data.nav.submenus[submenu].icon %}
                <img src="{{site.data.nav.submenus[submenu].icon}}"/>
                {% endif %}
                {{ site.data.nav.submenus[submenu].title }}
            </a>
        {% endif %}
        {% for l in site.data.nav.submenus[submenu].links %}
            <a {% if l.url %} href="{{ l.url }}" target="_blank" {% else %} href="{{ site.rooturl }}{{ l.path }}" {% endif %}>{{ l.title }}</a>
        {% endfor %}
            <a>&nbsp;</a>
        </span>
    </div>
</div>
