<div id="header">
    <div class="nav fixed-width" style="padding-bottom:5px">
        <a href="{{ site.rooturl }}/" class="title" title="{{ site.title }}">
            <img src="{{ site.rooturl }}/assets/images/logo_hero.png"/>
            <span class="title-text">{{ site.title }}</span>
        </a>
        <span class="menu">
            {% for section in site.data.nav.sections %}
            <a {% if section.url %} href="{{ section.url }}" target="_blank" {% else %} href="{{ site.rooturl }}{{ section.path }}" {% endif %}>{{ section.title }}</a> 
            {% endfor %}
            {% for service in site.data.nav.services %}
            <a href="{{ service.url }}" title="{{ service.title }}" {% if service.blank %}target="_blank"{% endif %} class="icon">
                <img src="{{ site.rooturl }}/assets/images/nav_{{ service.type }}.png"/>
            </a>
            {% endfor %}
        </span>
    </div>
    <div class="nav subnav fixed-width">
        <span class="submenu">
        {% if site.data.nav.submenus[page.submenu] %}
        {% assign submenu = page.submenu %}
        {% else %}
        {% assign submenu = 'default' %}
        {% endif %}
        
        {% if site.data.nav.submenus[submenu].title %}
            <a {% if site.data.nav.submenus[submenu].path %} href="{{ site.rooturl }}{{ site.data.nav.submenus[submenu].path }}" {% endif %} class="root">
                {% if site.data.nav.submenus[submenu].icon %}
                <img src="{{site.data.nav.submenus[submenu].icon}}"/>
                {% endif %}
                {{ site.data.nav.submenus[submenu].title }}
            </a>
        {% endif %}
        {% for l in site.data.nav.submenus[submenu].links %}
            <a {% if l.url %} href="{{ l.url }}" target="_blank" {% else %} href="{{ site.rooturl }}{{ l.path }}" {% endif %}>{{ l.title }}</a>
        {% endfor %}
            <a>&nbsp;</a>
        </span>
    </div>
</div>
